.listings {
  height: 40vh;
  background-image: url("/map image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
}

.list {
  padding-top: 15vh;
  padding-left: 5vw;
}


