.listings {
  width: 100%;
  height: 40vh;
  color: white;
  background-image: url("/map image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.list {
  padding-top: 15vh;
  padding-left: 5vw;
  margin-bottom: 100px;
}

#living_page {
  width: 100%;
}
.living_Card {
  display: flex;
  justify-content: space-evenly;
  background-color: white !important;
  align-items: center;
  margin-top: 40px;
  border-radius: 0px !important;
}
.living-card-top {
  background: #212529;
  border-radius: 8px;
  width: 17rem;
  height: 7.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  transition: background 0.3s ease; /* Added transition property */
}

.living-card-top:hover {
  background: #4a566c;
  cursor: pointer;
}

.living-card-top img {
  position: relative;
  top: 0.8rem;
  left: 0.8rem;
  width: 2.5rem;
}
.living-card-top-white-circle {
  background: white;
  margin: 2rem 0.3rem 2rem 1.5rem;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.living-card-top h1 {
  margin-top: 0.5rem;
  font-size: 1.4rem !important;
  font-weight: 400;
  color: white;
}
.details {
  position: relative;
}
.details div {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  background-color: #fff; /* Background color of the dropdown */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional box shadow for a subtle effect */
  padding: 10px;
  border-radius: 5px;
}

.details ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.details li {
  padding: 8px;
  cursor: pointer;
}

/* Add a separate line at the bottom of the "GIRLS" list item */
.details li:first-child::after {
  content: "";
  display: block;
  margin-top: 8px;
  border-bottom: 1px solid #ccc; /* Adjust the color as needed */
}

/* Show the dropdown when the .details div is hovered */
.living-card-top:hover .details div {
  display: block;
}

/* modal box */

.boxmodal {
  height: 700px;
  width: 500px;
  background-color: white;
  border-radius: 8px;
  position: relative;
  left: 25rem;
  padding: 25px;
}

/* living-content */
.living-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 45px;
}
.live_card {
  width: 50rem;
  height: 22rem;
  margin-top: 50px;
  padding-right: 2rem;
  display: flex;
  /* align-items: center; */
  gap: 1rem;
  border-radius: 10px;
  color: black;
  background: #f8f4f4;
  line-height: 20px !important;
}
.live_pic {
  width: 25rem;
  height: 23.2rem !important;
  border-radius: 10px 0px 0px 10px !important;
}
.live_data {
  margin-left: 10px;
}
.specs {
  white-space: pre-line;
}
.hostel-item {
  font-size: 23px;
  margin-top: 20px;
  /* padding-bottom: 10px; */
}
.facility {
  padding-bottom: 10px;
}
.Rent {
  padding-bottom: 20px;
}
.media-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 27px;
}
.external-data {
  font-size: 13px !important;
}
.media-img {
  margin-left: 10px;
  width: 35px !important;
  padding-bottom: 1px !important;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.sidebtn {
  border-radius: 5px !important;
  padding: 0px 2px 0px 2px !important;
}
.activebtn {
  height: 32px;
  width: 32px;
}
/* Add this to your CSS */
.image-container-modal {
  max-height: 550px;
  overflow-y: auto; /* Enable vertical scrolling */
  display: flex;
  flex-direction: column; /* Display images in a column */
  align-items: center; /* Center images horizontally */
  gap: 10px; /* Adjust the gap between images as needed */
  align-items: center; /* Center the images horizontally */
}

.modal_img {
  max-width: 100%; /* Make sure the images don't exceed the container width */
  height: auto;
  width: auto;
  border-radius: 8px;
  border: 2px solid white;
  margin-bottom: 10px;
}
.image-container-modal::-webkit-scrollbar {
  display: block;
  width: 6px;
  background-color: white;
}

.image-container-modal::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 8px;
}

.modal-para {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 20px;
  font-weight: 500;
}

.modal-btn {
  padding: 10px 20px;
  background-color: #4a90e2;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 15px;
}

.modal-btn:hover {
  background-color: #3066be;
}

@media (max-width: 1400px) {
  .boxmodal {
    height: 30rem;
    left: 14rem;
    top: 2rem;
  }
}

@media (max-width: 1000px) {
  .living-card-top {
    width: 14.5rem;
    height: 5.75rem;
  }
  .living-card-top h1 {
    font-size: 1.15rem !important;
  }
  .living-card-top-pic {
    margin: -0.4rem -1.5rem 1.5rem -0.4rem;
    width: 3.2rem !important;
    padding: 8px;
  }
  .live_card {
    width: 46rem;
  }
  .live_pic {
    width: 21rem;
    height: 23.2rem;
    border-radius: 10px 0px 0px 10px;
  }
  .boxmodal {
    left: 6rem;
    top: -2rem;
  }
}

@media (max-width: 800px) {
  .living-card-top {
    width: 13rem;
    height: 5.75rem;
  }
  .living-card-top h1 {
    font-size: 0.9rem !important;
  }
  .living-card-top-pic {
    margin: -0.4rem 0.5rem 1rem -0.3rem;
    width: 4rem;
    padding: 8px;
  }
  .live_card {
    width: 35rem !important;
    height: 18rem;
  }
  .live_pic {
    width: 15rem !important;
    height: 19.2rem !important;
    border-radius: 10px 0px 0px 10px !important;
  }
  .hostel-item {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 5px;
  }
  .Rent {
    padding-bottom: 10px;
  }
  .media-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0px;
    margin-right: -1rem;
  }
  .specs {
    white-space: unset;
  }
  .external-data {
    font-size: 12px !important;
    position: relative;
    right: 0.8rem;
  }
  .media-img {
    margin-left: -5px;
    width: 28px !important;
    padding-bottom: 1px !important;
  }

  .boxmodal {
    left: 0rem;
  }
}

@media (max-width: 600px) {
  .living_Card {
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }
  .living-card-top {
    width: 16rem;
    height: 5.75rem;
  }
  .living-card-top h1 {
    font-size: 1.2rem !important;
  }
  .live_card {
    width: 22rem !important;
    height: 40rem;
    flex-direction: column;
  }
  .live_pic {
    width: 21.9rem !important;
    height: 21rem !important;
    border-radius: 10px 10px 0 0 !important;
  }
  .hostel-item {
    font-size: 20px;
    position: relative;
    bottom: 2rem;
  }
  .Rent {
    padding-bottom: 10px;
  }
  .media-card {
    display: flex;
    margin-left: 1.3rem;
    margin-right: -1.2rem;
    margin-bottom: 1rem;
  }
  .specs {
    white-space: pre-line;
    margin-bottom: 1rem;
  }

  .facility {
    margin-top: -1rem;
  }
  .Rent {
    margin-bottom: 1rem;
  }

  .boxmodal {
    width: 24rem;
    height: 35rem;
  }
}

@media (max-width: 420px) {
  .live_card {
    width: 19rem !important;
  }
  .live_pic {
    width: 18.9rem !important;
  }

  .Rent {
    padding-bottom: 10px;
  }
  .media-card {
    display: flex;
    margin-bottom: 1rem;
    margin-left: 1.3rem;
  }
  .boxmodal {
    width: 19rem;
  }
  .sidebtn {
    display: none;
  }
  #pagination-btn {
    width: 25px !important;
    height: 25px !important;
  }
  .activebtn {
    width: 25px !important;
    height: 25px !important;
  }
}
@media (max-height: 900px) {
  .boxmodal {
    height: 35rem;
    top: 2rem;
  }
  .list {
    margin-top: -1.5rem;
  }
  .image-container-modal {
    max-height: 400px;
  }
}

@media (max-width: 1400px) and (min-height: 900px) {
  .image-container-modal {
    max-height: 320px;
  }
}
