#categories {
  height: 100vh;
  width: 100%;
  text-align: center;
  padding: 20px;
}

.heading {
  font-size: 40px !important;
  line-height: 1.5;
  margin-top: -80px;
}

.subheading {
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 60px;
  letter-spacing: 1px;
  color: gray;
}

.catItem{
  color:white !important;
  font-size: 18px !important;
  font-weight: 400 !important;
  text-transform: none !important;
  text-align: left !important;
  padding: 35px 120px 35px 120px !important;
  transition: background-color 0.3s ease;
}

.catItem1{
  border-radius: 10px 0 0 0 !important;
}

.catItem4{
  border-radius: 0 0 0 10px !important;
}


.catItem .catItemContent {
  display: flex;
  align-items: center;
}  

.catItem div{
  background-color: white;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  text-align: center;
  display: inline-block;
  position: relative;
  right: 50px;
}

.catItem img{
  width: 80px; 
  height: 80px;
  padding: 22px;
  margin-right: 30px;
}

.catItem span {
  display: inline-block;
  vertical-align: middle;
}

.catContent{
  color: white
}

h3{
  font-size: 30px;
  font-weight: 700;
}


.catItem:hover{
  background-color: #303846;
}
.catItem:focus{
  background-color: #4A566C;
}


.catdiv{
  width: 28rem;
  margin-top: 65px;
  text-align: left;
}


/* --------------------------------------------- */

@media (max-width: 1540px){
  .box{
      width: 1000px !important;
      height: 450px !important;
  }
  #categories{
    height: 120vh;
  }
  .heading {
      margin-top: -130px !important;
  }

  .catItem{
      padding: 21px 120px 21px 120px !important;
    }

  .catItem div{
      width: 70px;
      height: 70px;
  }
  
  .catItem img{
      width: 70px; 
      height: 70px;
      padding: 20px;
  }
}

@media (max-width: 1200px){
  .box{
      width: 800px !important;
      height: 400px !important;
  }

  h3{
      font-size: 24px;
      font-weight: 500;
  }
  .catItem{
      font-size: 16px !important;
      padding: 20px 100px 20px 100px !important;
    }
    .catItem div{
      width: 60px;
      height: 60px;
  }
  
  .catItem img{
      width: 60px; 
      height: 60px;
      padding: 16px;
      margin-bottom: 8px;
  }
  
}


@media (max-width: 850px){
  #categories{
      height: 80vh;
  }
  .box{
      width: 500px !important;
      height: 400px !important;
  }

  .catItem{
      font-size: 13px !important;
      padding: 25px 60px 25px 60px !important;
    }
    .catItem div{
      width: 50px;
      height: 50px;
  }
  
  .catItem div{
      right: 40px;
  }

  .catItem img{
      width: 50px; 
      height: 50px;
      padding: 13px;
      margin-right: 15px;
  }
  
}


@media (max-width: 600px){
  #categories{
      height: 100vh;
      position: relative;
      top: 100px;
  }
  .box{
      width: 280px !important;
      height: 500px !important;
  }
  h3{
      font-size: 18px;
  }
  .heading{
      font-size: 26px !important;
      margin-top: -220px !important;
  }

  .catItem{
      font-size: 11px !important;
      padding: 40px 18px 40px 18px !important;
    }

  .labelEmer{
      position: relative;
      right: 8px;
  }
  .labelShop{
      position: relative;
      right: 5px;
  }
    .catItem div{
      width: 45px;
      height: 45px;
  }
  
  .catItem div{
      right: 0px;
  }

  .catItem img{
      width: 45px; 
      height: 45px;
      padding: 10px;
  }
  
  .catItem .catItemContent {
      display: block;
  }
}