.onboarding-container {
    margin-top: 2rem;
}

.imgg {
    width: 12rem;
    margin: auto;
    display: block;
}



.card {
    margin-top: 1rem;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-body {
    padding: 2rem;
}

.subbtn {
    background-color: rgb(36, 36, 36) !important;
    color: white !important;
    border-radius: 5px !important;
    transition: background-color 0.3s ease !important;
    margin-top: 2rem !important;
}

.subbtn:hover {
    background-color: rgb(72, 72, 72) !important;
}


.form-label-onboard {
    margin-top: 20px;
}


.text-danger {
    background-color: rgb(145, 9, 9);
    position: relative;
    top: 1rem;
    color: white;
    cursor: pointer;
    padding: 10px 18px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.text-danger:hover {
    background-color: rgb(202, 51, 51);
}


.file-upload-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}


.file-upload-label {
    cursor: pointer;
    background-color: #007bff;
    padding: 10px 18px;
    color: white;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}


.file-upload-label:hover {
    background-color: #005dc1;
}

.file-upload-input {
    display: none;
}



/* ----------------------------------------------------------- */


@media (max-width: 768px) {
    .card {
        margin-top: 1rem;
    }

    .form-control-onboard {
        width: 100%;
    }

    .imgg {
        display: block !important;
    }
}

@media (max-width: 576px) {
    .onboarding-container {
        padding: 1rem;
        margin-top: 3rem;
        margin-bottom: 2rem;
    }

    .imgg {
        width: 8rem;
    }

    .headingg {
        margin-top: -2rem !important;
    }
}