
.logo-white {
  width: 200px;
  margin: 15px 0 10px 0;
}
.logo-black {
  width: 200px;
}

#page1 {
  height: 80vh;
  width: 100%;
  text-align: center;
  margin-top: 130px;
  padding: 20px;
  color: white;
}

h1 {
  font-size: 50px !important;
  line-height: 1.5;
}

h4 {
  font-weight: 300;
  margin-top: -40px;
  margin-bottom: 20px;
  letter-spacing: 3px;
}
#mypic {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 15vh;
}

#mypic{
  user-select: none;
}

#mypic a {
  background-color: white;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  text-align: center;
  text-decoration: none;
  color: black;
  display: block; /* Make anchor elements block-level */
}

.icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#mypic img {
  width: 100px; 
  height: 100px;
  padding: 25px;
}

#mypic p{
  font-size: 23px;
  font-weight: 400;
  margin-top: 15px;
  color: white;
}

.icon-name {
  margin-top: 5px;
}


/* -------------------------------------- */
/* tablet */
@media (max-width: 800px){

  #page1{
    padding: 40px;
  }
  h1 {
    font-size: 40px !important;
  }
  
  h4 {
    font-size: 14px;
    margin-top: -30px;
  }
  
  #mypic a {
    width: 80px;
    height: 80px;
  }

  #mypic img {
    width: 80px; 
    height: 80px;
    padding: 20px;
  }
  
  #mypic p{
    font-size: 18px;
    font-weight: 400;
    margin-top: 15px;
  }
}



@media (max-width: 600px) {

  #page1{
    height: 120vh !important;
    padding: 20px !important;
  }

  .logo-white{
    margin-left: -400px !important;
  }
  .navicon{
    margin-left: 280px !important;
  }
  
  .logo-white{
    width: 150px;
    margin-right: 150px;
    margin-left: -50px;
  }

  h1 {
    font-size: 32px !important;
  }
  
  h4 {
    font-size: 12px;
    font-weight: 300;
    margin-top: -110px;
  }

  #mypic {
    flex-direction: column; 
    align-items: center;
    margin-top: -40px;
  }



  #mypic a {
    width: 70px; 
    height: 70px;
    margin-top: 70px;
  }

  #mypic img {
    width: 70px; 
    height: 70px;
    padding: 20px;
  }

  #mypic p{
    font-size: 15px;
    font-weight: 400;
    margin-top:8px;
  }
}

@media (max-width: 450px){
  .logo-white{
    margin-left: -340px !important;
  }
  .navicon{
    margin-left: 260px !important;
  }
}

@media (max-width: 400px){
  #page1{
    padding: 12px;
  }
  .logo-white{
    margin-left: -300px !important;
  }

  .navicon{
    margin-left: 220px !important;
  }

  h1 {
    font-size: 28px !important;
    line-height: 1.5;
  }
  
  h4 {
    font-size: 10px;
    font-weight: 300;
    margin-top: -120px;
    margin-bottom: 20px;
    letter-spacing: 3px;
  }


  #mypic a {
    width: 60px; 
    height: 60px;
  }

  #mypic img {
    width: 60px; 
    height: 60px;
    padding: 15px;
  }

  #mypic p{
    font-size: 14px;
    font-weight: 400;
  }
}

@media (max-width: 360px){
  .logo-white{
    margin-left: -260px !important;
  }

  .navicon{
    margin-left: 180px !important;
  }
}

@media (max-height: 650px){
    .emer{
      display: none !important;
    }
}


@media (min-width: 700px) and (max-width: 1000px){
    .nav-button{
      font-size: 10px !important;
      margin-right: 4px !important;
    }
}