.emergency {
    height: 40vh;
    background-image: url("/map image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
  }

  .emer-heading {
    padding-top: 15vh;
    padding-left: 5vw;
  }

  @media (max-height: 900px){
    .emer-heading{
      margin-top: -1.5rem;
    }
  }
