.food {
  width: 100%;
  height: 40vh;
  color: white;
  background-image: url("/map image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.food-heading {
  padding-top: 15vh;
  padding-left: 5vw;
  margin-bottom: 100px;
}

@media (max-height: 900px) {
  .food-heading {
    margin-top: -1.5rem;
  }
}
.sidebtn {
  border-radius: 5px !important;
  padding: 0px 2px 0px 2px !important;
}
@media (max-width: 420px) {
  .sidebtn {
    display: none;
  }
  #pagination-btn {
    width: 25px !important;
    height: 25px !important;
  }
}
